.page {
  background-color: var(--color-bg-main);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--container-padding);
  block-size: clamp(668px, 100vh, 100vh);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--decor-corner-offset);
  right: var(--decor-corner-offset);
  border-top: 1px solid var(--color-accent);
  border-right: 1px solid var(--color-accent);
  background-color: transparent;
  inline-size: var(--decor-corner-size);
  block-size: var(--decor-corner-size);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--decor-corner-offset);
  left: var(--decor-corner-offset);
  border-bottom: 1px solid var(--color-accent);
  border-left: 1px solid var(--color-accent);
  background-color: transparent;
  inline-size: var(--decor-corner-size);
  block-size: var(--decor-corner-size);
}

.header__label {
  position: absolute;
  top: 10px;
  right: 19px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
  color: var(--color-accent);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: 25px;
  text-align: center;
}

.header__label::after {
  content: "";
  border-radius: 50%;
  vertical-align: middle;
  box-shadow: 0px 0px 4px 2px var(--color-accent);
  background-color: var(--color-accent);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--gap-items);
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-bottom: 5px;
  color: var(--color-accent);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  inline-size: 70px;
  block-size: 26px;
  transition: border-color 0.5s ease-out;
}

.header__theme-menu-button:hover {
  border-color: var(--color-accent-transparent);
}

.header__theme-menu-button_active {
  border-color: var(--color-accent);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-color: transparent;
  border-bottom-color: var(--color-accent);
  outline: none;
}

.header__title {
  color: var(--color-primary);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--color-decor);
}

.header__subtitle {
  justify-self: center;
  align-self: center;
  color: var(--color-text-secondary);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.title-decor {
  background-color: var(--color-decor);
}

.main {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--section-gap);
  padding: 40px var(--container-padding);
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content-section__title {
  color: var(--color-accent);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.article_list {
  display: grid;
  grid-auto-rows: min-content;
  gap: 20px;
}

.content-section__item {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--gap-items);
}

.content-section__item-title {
  color: var(--color-text-secondary);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.content-section__text {
  color: var(--color-text-main);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.content-section__subtitle,
.gallery_title {
  color: var(--color-text-secondary);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.content-section__item-title--minor {
  font-weight: var(--font-weight-regular);
}

.link {
  border-bottom: 1px solid transparent;
  outline: none;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-decor);
  transition: border-color 0.5s ease-out;
}

.link:hover {
  border-bottom-color: var(--color-text-main);
}

.link:focus-visible {
  outline: 1px solid var(--color-text-main);
}

.gallery {
  display: grid;
  grid-auto-rows: min-content;
  gap: 10px;
}

.gallery_collage {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery_collage__item {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: 0 13px 0 14px;
  block-size: clamp(668px, 100vh, 100vh);
}

.footer__title {
  grid-row: 2;
  justify-self: center;
  color: var(--color-primary);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--color-decor);
}

@media (width >= 768px) {
  .header__label {
    top: 20px;
    right: 29px;
  }
  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-align: start;
  }
  .header__subtitle {
    justify-self: self-end;
    max-inline-size: 50%;
  }
  .main {
    padding: 60px var(--container-padding);
  }
  .content-section {
    grid-template-columns: 1fr 2fr;
  }
  .content-section__title {
    grid-column: 1;
  }
  .article_list {
    grid-column: 2;
  }
  .article_list_alternate {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .gallery {
    gap: 20px;
  }
  .gallery_collage {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .gallery_collage__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .gallery_collage__item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }
  .gallery_collage__item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }
  .gallery_collage__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
  .gallery_collage__item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .content-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .article_list {
    grid-column: 2 / 4;
  }
  .article_list_alternate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / 4;
    gap: 20px;
  }
}