:root {
  --color-accent: rgba(255, 0, 112, 1);
  --color-decor: rgba(255, 0, 112, 1);
  --color-accent-transparent: rgba(255, 0, 112, 0.4);
  --bg-image: url("../images/cover-image-dark.png");
  --color-bg-main: rgba(0, 0, 40, 1);
  --color-primary: rgba(219, 0, 255, 1);
  --color-text-main: rgba(241, 178, 206, 1);
  --color-text-secondary: rgba(0, 0, 40, 1);

  --font-family-main: "IBM Plex Mono", monospace;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size-base: 18px;
  --line-height-base: 1.3;

  --container-padding: 10px;
  --section-gap: 50px;
  --gap-items: 10px;
  --decor-corner-size: 25px;
  --decor-corner-offset: 10px;
}

@media (width >= 768px) {
  :root {
    --container-padding: 20px;
    --section-gap: 80px;
    --decor-corner-offset: 20px;
  }
}